.Left{
}
.contact_title{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.card_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.contacts{
    height: 400px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #f8bc15;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #000;
}