.Message{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}
.Text1{
    margin-left: 0px;
    background-color: rgb(157, 198, 231);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width:350px;
    overflow-wrap: break-word;
}
.Text2{
    margin-left: 0px;
    background-color: rgb(234, 171, 76);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width:350px;
    overflow-wrap: break-word;
}
